body {
  background-color: #b4a7d6;
}

.card {
  background-color: #f4f4f4;
  color: #000000;
}

.form-control {
  background-color: #f9f9f9;
  color: #333;
}

.btn {
  background-color: #6a329f;
  color: white;
}